@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

h1, h2, h5, .btn-main {
    font-family: 'Arvo', serif;
}

h3, h4, p, footer, address {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, p, address {
    padding: 10px;
}

h1 {  
    font-size: 28px;
    color: #450084;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.PgTitle {
    background-color: #F4EFE1;
    text-align: left;
}

.TopBar {
    background-color: #450084;
}

img {
    padding: 10px;
}

.Nav {
    background-color: #EAE1C6;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Nav ul {
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.Nav li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.Nav a {
    color: #450084;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-main {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    border-color: white;
    color: #FFFFFF;
}

.blue {
    background-color: #3C738B;  
}

.reg {
    background-color: #595959;
}