h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #450084;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#all {
    background-color: #DACCE6;
    color: #333333;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #EAE1C6;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul {
    margin: 20px;
    padding: 0px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    color: #450084;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.loggedin {
    color: #595959;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #DACCE6;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}